@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    min-height: 110vh;
    padding: 60px;
    height: 100px;
}

.card{
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
    min-height: 70vh;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 769px){
    .contenedor{
        min-height: 300vh;
    }
}